body {
   background-color: rgb(246, 251, 252);
}

.heading {
  background-color: #00539CFF;
  text-align: center;
  border-radius:40px;
  color: #FFD662FF;

}

.heading h1 {
  font-size: 40px;
  margin-bottom: 0px;

}

.heading h3 {
  font-size: 20px;
  padding: 10px;
  margin-top: 15px;
}

.image {
  font-style: italic;
  color: #FC5185;
}

img {
  width: 300px;
  margin-top: 100px;
  border:2px;
  padding:5px;
  box-shadow: 0 0 10px 5px grey;
  margin-left: 40px;
  transform: rotate(340deg);
  display:inline;
  
}

.aboutme {
  float:left;
  width: 47%;
  margin-top: 120px;
  font-size: 130%;
  background-color: #00539CFF;
  padding-left: 30px;
  color:#FFD662FF;
  border-radius: 70px;
}

.projects {
  margin-top:120px ;
  width:47%;
  float:right;
  font-size:130%;
  color: #00539CFF;
  padding-left: 30px;
  background-color: #FFD662FF;
  border-radius: 70px;;
}

.aboutme>h2 ,.projects>h2 {
  color: #FC5185;
  text-decoration-line: underline;
}

.aboutme>h4 {
  font-style: italic;
}




